* {
    padding: 0;
    margin: 0;
}

ul, ol {
    list-style: none;
}

img {
    max-width: 100%;
    object-fit: cover
}

a, a:hover {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.header {
    background: #005ab7;
    box-shadow: 0px 1px 5px 2px rgb(191, 211, 222);
    height: 100px;
    padding: 10px 0;
}

.logo-login-main img {
    height: 78px;
}


.wapper-login .main-content {
    padding-top: 15px;
    padding-bottom: 15px;
}

.bg-form {
    /* background: url('../images/backgroundform.jpg') center center no-repeat; */
    background-size: cover;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.form-wrap {
    border-radius: 6px;
    padding: 0px 20px 20px;
    display: inline-block;
    border: 5px solid #fff;
    background: rgba(255,255,255,.7);
    box-shadow: 2px 8px 15px rgba(0,0,0,0.2);
    position: relative;
    overflow-x: hidden;

}

.form-login img {
    margin-top: 25px;
}

.form-login h4 {
    color: #044eb7;
    margin: 20px 0;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.form-login .input {
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 6px;
    background: #fff;
    border: 1px solid #ddd;
    outline: 0;
}

.form-login .button:hover {
    filter: brightness(0.9)
}

.form-login .button {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px;
    border: 1px solid #ff5a00;
    border-radius: 4px !important;
    margin-top: 15px;
    background: #ff5a00;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 5px solid #dc560d !important;
}
